{
  "env": {
    "browser": true
  },
  "extends": "airbnb",
  "rules": {
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": ["CustomInputLabel"],
      "labelAttributes": ["label"],
      "controlComponents": ["CustomInput"],
      "depth": 3,
      "no-underscore-dangle": ["error", { "allow": [_id, b_codes_id] }],
    }],
  }
}
