body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif
}

.wrapper{
  margin:3em;
}

.inputs {
  margin-top:1em;
  height:100%;
  display:flex;
  justify-content: center;
}

input, select{
  border:none;
  border-bottom: 2px solid grey;
  margin-bottom:1em;
  width:100%;
  box-sizing: border-box;
  background-color: transparent;
}

input:hover{
  border-bottom: 2px solid blue;
}

textarea:focus, input:focus{
    outline: none;
}

.input-form{
  background:white;
  display:flex;
  flex-flow: column;
  width:60%;
  max-width:777px;
}

.form-tilt, .form-azimuth, .form-syscap, .form-eff-losses, .form-rate{
  flex-flow: row;
  display: inline-flex;
  margin-left:1em;
  width:10%;
}

.summary{
  text-align:right;
  margin:2em;
  width:60%;
}

#map{
  height:320px;
  width:60%;
  margin:auto;
}